* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a:focus, a:hover {
    font-style: italic;
}

header img{
    height: 80px;
    margin-left: 40px;
}

body{
    height: 100%;
    background-image: url(https://cdn.pixabay.com/photo/2022/03/30/14/32/tree-7101268_960_720.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 80px;
    padding: 30px;
}

main{
    color: black;
}
header{
    background-color: #f3f6f5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
   
    
}
header *{
    display: inline;
}
header li {
    margin: 20px;
}
header li a{
    color: black;
    text-decoration: none;
}



